<div class='content'>
  <div class='formpostion'>
    <h1>Upload</h1>
    <div class='box' >
      <form class='form' action="/{{image_id}}?_method=PUT" method="post">
            <label class="has-float-label">
              <input type="text" name="title" placeholder="Image title" value="{{title}}"required>
              <span>Title</span>
            </label>
            <label class="has-float-label">
              <input type="text" name="author" placeholder="Author name" value="{{author}}" required>
              <span>Author</span>
            </label>
            <label class="has-float-label">
              <input type="text" name="link" placeholder="URL" value="{{link}}" required>
              <span>Image link</span>
            </label>
            <label class="has-float-label">
              <textarea rows="10" cols="30" name="description" placeholder="Details about this image" id="" required>{{description}}</textarea>
              <span>Description</span>
            </label>
            <input type="submit" value="Submit" required>
        </form>
    </div>
  </div>
</div>


