<div class='content'>
    {{#each photos }}
        {{#if featured}}
            <div class='featured'>
                <a href='/gallery/{{ image_id }}'>
                    <img src="{{ link }}" />    
                </a>
            </div>
            <br>
        {{/if}}
    {{/each}}
    <div class='gallery'>
        {{#each photos }}
            <a class='card' href='/gallery/{{ image_id }}'>
                <img class='card-image' src="{{ link }}" />
                {{ title }}
            </a>
            
        {{/each}}


    </div>
       


    <a class='button' href="/gallery/new">Upload</a>
</div>