
{{> header }} 
<h1>Gallery</h1>
{{#each photos }}
    {{ title }}
    {{!-- <p>Hellooooooo</p> --}}
    <li data-postid="{{id}}">
        <a href='/gallery/{{id}}'>
        <img src="{{ link }}"/>
        <p>{{ title }}</p>
    </a>
    </li>
{{/each}}

<a class='button' href="/gallery/new">Upload</a>

{{> footer }}