
{{> header }} 

<div class='idp'>
    <h1>{{ title }}</h1>
    <br> <img src="{{ link }}">
    <br> {{ author }} {{ description }}
    <br>
    <a href="/gallery/{{id}}/edit" type=button>Edit</a>
</div>
<div class='new'>
    <form method="post" action="/articles/{{id}}?_method=DELETE">
    <button class='button' type='submit'>Delete</button>
</form>
</div>

{{> footer }}