<div class='maincontent'>
    <div class='imagedetail'>
        {{#with mainimage}}
                <img src="{{ link }}">
                <h1 class='special'>{{ title }}</h1><a class='button' href="/gallery/edit/{{image_id}}">Edit</a>
                <p>{{ author }}</p>
                <p>{{ description }}</p>


                <form method="post" action="/gallery/{{image_id}}?_method=DELETE">
                    <button class='button' type='submit'>Delete</button>
                </form>
        {{/with}}
     </div>
</div>
<div class='sidebar'>
    <div class='imagelist'>
        {{#each photos }}
            <a class='sidebarimage' href='/{{ image_id }}'>
                <img src="{{ link }}" />
                <p> {{ title }}
                </p>
            </a> 
        {{/each}}
    </div>
</div>