
{{> header }} 

<div class='idp'>
    <h1>{{ title }}</h1>
    <br> <img src="{{ link }}">
    <br> {{ author }} {{ description }}
    <br>
    {{!-- <a href="/gallery/{{image_id}}/edit" type=button>Edit</a> --}}
</div>
<div class='new'>
    <form method="get" action="{{ image_id }}/edit">
        <button class='button' type='submit'>Edit</button>
    </form>
    <form method="post" action="/gallery/{{image_id}}?_method=DELETE">
        <button class='button' type='submit'>Delete</button>
    </form>
</div>

{{> footer }}